body{
    background-image: url(/images/background.jpg);
}

#boxes{
    display: flex;
    justify-content: center ;
    align-items: center;
    position: relative;
    top: 250px;
}

.btn{
    width: 65px;
    height: 45px;
    border: solid 3px black;
    background-color: rgb(42, 39, 39, 0.5);
    /* opacity: 0.5; */
    text-align: center;
    margin: 10px;
    padding: 5px;
}
.t1{
    font-size: 30px;
    font-family: 'Courier Prime', monospace;
    color: white;
    opacity: 1;
}

.t2{
    color: yellow;
    font-size: 8px;
    opacity: 1;
}